<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1" metadata-complete="true">

	<servlet>
		<servlet-name>hello servlet</servlet-name>
		<servlet-class>servlet.HelloServlet</servlet-class>
		
	</servlet>
	<servlet>
		<!-- 서블릿 별명을 선언한다. 공백을 포함할 수 있다. 마음대로 작성하라. 그러나 프로그래밍의 일관성을 위해 클래스 이름으로 
			작성하는 것이 좋다. -->
		<servlet-name>Servlet01</servlet-name>
		<servlet-class>servlet.Servlet01</servlet-class>
	</servlet>
<servlet>
<servlet-name>Servlet02</servlet-name>
<servlet-class>servlet.Servlet02</servlet-class>
</servlet>


	<servlet-mapping>
		<servlet-name>hello servlet</servlet-name>
		<url-pattern>/hi</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet01</servlet-name>
		<url-pattern>/Servlet01</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>Servlet02</servlet-name>
	<url-pattern>/Servlet02</url-pattern>
	</servlet-mapping>

</web-app>