<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <servlet>
    <servlet-name>Servlet01</servlet-name>
    <servlet-class>servlet.Servlet01</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Servlet02</servlet-name>
    <servlet-class>servlet.Servlet02</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>Servlet07</servlet-name>
  <servlet-class>servlet.Servlet07</servlet-class>
  </servlet>
  
    <servlet>
  <servlet-name>Servlet08</servlet-name>
  <servlet-class>servlet.Servlet08</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Servlet01</servlet-name>
    <url-pattern>/step05/servlet01</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet02</servlet-name>
    <url-pattern>/step05/servlet02</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>Servlet07</servlet-name>
  <url-pattern>/step05/servlet07</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>Servlet08</servlet-name>
  <url-pattern>/step05/servlet08</url-pattern>
  </servlet-mapping>
  
</web-app>